/* Generali */
body {
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
}
/* fine generali */

/* Container film */
.movie-list{
  display: flex;
  flex-wrap: wrap;
}
.movie-list > div {
  width: calc(100%/5);
  margin: 5px 0;
}

.movie-list .movie_cover {
  padding-top: 10px;
  width: 200px;
}

.movie_title {
  font-weight: 600;
}

.movie_movie-body_rating {
  font-weight: 600;
}
/* fine container film */
