/* Generali */
body {
  font-family: 'Roboto', sans-serif;
  background-color: grey;
}

h1 {
  margin: 0;
  color: red;
  font-weight: 600;
}

ul {
  padding: 0;
}

li{
  list-style-type: none;
}

i {
  color: rgb(255, 238, 0);
}

input:focus, button:focus {
  outline: 0;
}
/* fine generali */

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 50px;
  background-color: rgba(0,0,0)
}

.logo:hover, .search-icon:hover {
  cursor: pointer;
}

.search-icon {
  font-size: 18px;
  color: white
}

.search-input {
  background-color: black;
  width: 170px;
  border: 0;
  padding-left: 20px;
  color: white;
  font-weight: 600;
}

.search-input::placeholder {
  color: rgba(255,255,255,0.4);
}

.search-button {
  border-radius: 10px;
  border: 0;
  font-weight: 600;
}
/* fine header */

/* MAIN */
/* Movie list*/
.movie {
  position: relative;
  color: white;
}

.movie-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie-list > div {
  height: 513px;
  padding: 5px 10px;
}

.movie-cover {
  width: 100%;
  height: 100%;
  border: 2px solid white;
}

.movie:hover .movie-cover {
  filter: brightness(0.3);
  transition: 0.2s;
}

.movie:hover .movie-body {
  opacity: 1;
  transition: 0.2s;
}

.movie-title {
  font-weight: 600;
}

.movie-rating {
  font-weight: 600;
}

.movie-body{
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 300px;
}

.overview {
  max-height: 300px;
  overflow: auto;
}
/* fine main */

/* versione mobile */
@media all and (max-width: 767px) {
  .search-input {
    width: 130px;
    padding-left: 10px;
  }

  .search-button {
    display: none;
  }
}
/* fine versione mobile */
