/* Generali */
body {
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
}
/* fine generali */

/* Container film */
.movie-list > div {
  border: 1px solid black;
  margin: 5px 0;
}
/* fine container film */
